apturl==0.5.2
beautifulsoup4==4.12.3
blinker==1.4
Brlapi==0.7.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
cliapp==1.20180812.1
Click==7.0
cloud-init==23.3.3
cmdtest==0.32+git
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
defer==1.0.6
duplicity==0.8.12.0
entrypoints==0.3
fake-useragent==2.0.1
future==0.18.2
gunicorn==20.0.4
h11==0.9.0
httplib2==0.14.0
idna==2.8
importlib_resources==6.4.5
Jinja2==2.10.1
jsonschema==3.2.0
language-selector==0.1
lockfile==0.12.2
louis==3.12.0
oauthlib==3.1.0
paramiko==2.6.0
pexpect==4.6.0
Pillow==7.0.0
protobuf==3.6.1
psutil==5.5.1
pyasn1-modules==0.2.1
pycairo==1.16.2
pycups==1.9.73
PyGObject==3.36.0
pymacaroons==0.13.0
pyRFC3339==1.1
python-apt==2.0.1+ubuntu0.20.4.1
pyxdg==0.26
PyYAML==5.3.1
requests==2.32.3
roman==2.0.0
simplejson==3.16.0
six==1.17.0
sos==4.5.6
soupsieve==2.6
systemd-python==234
ttystatus==0.38
Twisted==18.9.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==2.2.3
usb-creator==0.3.7
wsproto==0.15.0
xkit==0.0.0
zipp==3.21.0
